numpy>=1.24
SimpleITK>=2.2.1
acvl-utils>=0.2.3,<0.3
dynamic-network-architectures>=0.4.1,<0.5
tqdm
scipy
batchgenerators>=0.25.1
scikit-learn
scikit-image>=0.19.3
pandas
graphviz
tifffile
requests
nibabel
matplotlib
seaborn
imagecodecs
yacs
batchgeneratorsv2>=0.3.0
einops
blosc2>=3.0.0b1
